body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #333;
    height: 100vh;
}

.game-area {
    width: 700px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.ball {
    background-color: rgb(249, 249, 249);
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.paddle {
    width: 20px;
    height: 100px;
    top: 100px;
    position: absolute;
    background-color: rgb(47, 47, 47);
}

.player-paddle {
    left: 0;
}

.computer-paddle {
    right: 0;
}

